CareerCloud.UnitTests.Assignment5-master/CareerCloud.UnitTests.Assignment5/Connected Services/CompanyService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" />
  <xs:element name="AddCompanyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q1:ArrayOfCompanyDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyDescriptionResult" nillable="true" type="q2:ArrayOfCompanyDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyDescriptionResult" nillable="true" type="q3:CompanyDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q4:ArrayOfCompanyDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q5:ArrayOfCompanyDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q6:ArrayOfCompanyJobDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyJobDescriptionResult" nillable="true" type="q7:ArrayOfCompanyJobDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyJobDescriptionResult" nillable="true" type="q8:CompanyJobDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q9:ArrayOfCompanyJobDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q10:ArrayOfCompanyJobDescriptionPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q11:ArrayOfCompanyJobEducationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobEducationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobEducation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyJobEducationResult" nillable="true" type="q12:ArrayOfCompanyJobEducationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobEducationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyJobEducationResult" nillable="true" type="q13:CompanyJobEducationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q14:ArrayOfCompanyJobEducationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobEducationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobEducation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q15:ArrayOfCompanyJobEducationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobEducationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q16:ArrayOfCompanyJobPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJob">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyJobResult" nillable="true" type="q17:ArrayOfCompanyJobPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyJobResult" nillable="true" type="q18:CompanyJobPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q19:ArrayOfCompanyJobPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q20:ArrayOfCompanyJobPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q21:ArrayOfCompanyJobSkillPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyJobSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobSkill">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyJobSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyJobSkillResult" nillable="true" type="q22:ArrayOfCompanyJobSkillPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyJobSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyJobSkillResult" nillable="true" type="q23:CompanyJobSkillPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q24:ArrayOfCompanyJobSkillPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyJobSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q25:ArrayOfCompanyJobSkillPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyJobSkillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q26:ArrayOfCompanyLocationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyLocationResult" nillable="true" type="q27:ArrayOfCompanyLocationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyLocationResult" nillable="true" type="q28:CompanyLocationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q29:ArrayOfCompanyLocationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q30:ArrayOfCompanyLocationPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q31:ArrayOfCompanyProfilePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompanyProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetAllCompanyProfileResult" nillable="true" type="q32:ArrayOfCompanyProfilePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="GetSingleCompanyProfileResult" nillable="true" type="q33:CompanyProfilePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q34:ArrayOfCompanyProfilePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCompanyProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CareerCloud.Pocos" minOccurs="0" name="items" nillable="true" type="q35:ArrayOfCompanyProfilePoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>